<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="post" action="/users/add">
		<label>
			姓名：
			<input type="text" name = "username" />
		</label>
		<label>
			学号：
			<input type="text" name = "number" />
		</label>

		<input type="submit" value = "提交" />
	</form>
	
</body>
</html>